body{
    background-color:white;
}
#window1{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    
    box-shadow: 10px 10px 5px #000000;
    margin-left:20px;
    background-color:white;
    width:250px;
    height:400px;
}
#skrivbord{
    width:960px;
    height:600px;
    background-image: url("pics/stjärnorPåEkö2.jpg");
}
#galleri{
    width:75px;
}
#gameon{
    width:75px;
}
#topBar{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    height:30px;
    
    width:250px;
    background-color:#1C2057;
}
#close{
    float:right;
    position:relative;
    bottom:50px;

}
#imagesBox{
    width:250px;
    height:350px;
    background-color:white;
    overflow:scroll;
}
#footer{
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    
    width:250px;
    height:25px;
    background-color:#1C2057;
}
#title {

    color:white;
    position:relative;
    bottom:25px;
    right:-30px;
}
#loader {
    position:relative;
    top:100px;
    right:-100px;
}
.thumb{
    border-radius:15px;
    display:inline-block;
    /*width:100px;
    height:70px;*/
    margin-left:8px;
    background-color:black;
    border:solid white;
    padding-bottom:10px;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
   
    
}

.bild{
    /*max-height:50px;
    max-width:75px;*/
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin:auto;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}